@{
	Layout = "_CurvaDashBoardLayout";
}
@model DashBoardHomeModelView
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt" style="color: #d1ab5f; background-color: transparent;"></i>
            <span class="text" style="color: gray;">Dashboard</span>
        </div>

        <div class="boxes">
            <div class="box box1">

                <i class="uil uil-eye"></i>
                <span class="text">Total users</span>
                <span class="number">@Model.numberOfUsers</span>
            </div>
            <div class="box box2">
                <i class="uil uil-shop"></i>
                <span class="text">Total Products</span>
                <span class="number">@Model.numberOFProducts</span>
            </div>
            <div class="box box3">
                <i class="uil uil-newspaper"></i>
                <span class="text">Total Blogs</span>
                <span class="number">@Model.numberOfBlogs</span>
            </div>

        </div>
    </div>

    <div class="activity">
        <div class="title">
            <i class="uil uil-clock-three" style="color: #d1ab5f; background-color: transparent;"></i>
            <span class="text" style="color: gray;">Recent Sign Up</span>
        </div>

        <div class="activity-data">
            <div class="data names">
                <span class="data-title">Name</span>
                @{
                    foreach (var item in Model.users)
                    {
                        <span class="data-list">@item.User.FullName</span>
                    }
                }
       
            </div>
            <div class="data email">
                <span class="data-title">Email</span>
                @{
                    foreach (var item in Model.users)
                    {
                        <span class="data-list">@item.User.Email</span>
                    }
                }
            </div>
            <div class="data joined">
                <span class="data-title">Date of birth</span>
                @{
                    foreach (var item in Model.users)
                    {
                        <span class="data-list">@item.User.date.ToString("dd/MM/yyyy")</span>
                    }
                }
            </div>
            <div class="data type">
                <span class="data-title">Gender</span>
                @{
                    foreach (var item in Model.users)
                    {
                        <span class="data-list">@item.User.Gender</span>
                    }
                }
            </div>
            <div class="data Role">
                <span class="data-title">Role</span>
                @{
                    foreach (var item in Model.users)
                    {
                       <span class="data-list d-flex">
                            @foreach(var item2 in item.roles)
                            {
                                <span>@item2 </span>
                            }
                        </span>
                    }
                }
            </div>
        </div>
    </div>
</div>