@{
	Layout = "_CurvaDashBoardLayout";
}
@model List<UserAndHisRole>
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <span class="text" style="color: #d1ab5f;">All Users</span>
        </div>
    </div>
    <div class="activity">
        <div class="activity-data">
            <div class="data imges">
                <span class="data-title ">Images</span>
                @{
                    foreach (var item in Model)
                    {
                        if (item.User.Img != null)
                        {
                                <img class="data-list" style="height:50px;width:50px;border-radius:50%;margin-top:32px;margin-bottom:18px" src="~/images/@item.User.Img"></img>
                        }
                        else
                        {
                            <img class="data-list" style="height:50px;width:50px;border-radius:50%; margin-top:32px;margin-bottom:18px"  src="~/images/th.jpeg"></img>
                        }
                    }
                }

            </div>
            <div class="data names">
                <span class="data-title">Name</span>
                @{
                    foreach (var item in Model)
                    {
                        <span class="data-list" style="margin-top: 50px;margin-bottom: 23px;">@item.User.FullName</span>
                    }
                }

            </div>
            <div class="data email">
                <span class="data-title">Email</span>
                @{
                    foreach (var item in Model)
                    {
                        <span class="data-list" style="margin-top: 50px;margin-bottom: 23px;">@item.User.Email</span>
                    }
                }
            </div>
            <div class="data joined">
                <span class="data-title">Date@*  of birth *@</span>
                @{
                    foreach (var item in Model)
                    {
                        <span class="data-list" style="margin-top: 50px;margin-bottom: 23px;">@item.User.date.ToString("dd/MM/yyyy")</span>
                    }
                }
            </div>
            <div class="data type">
                <span class="data-title">Gender</span>
                @{
                    foreach (var item in Model)
                    {
                        <span class="data-list" style="margin-top: 50px;margin-bottom: 23px;">@item.User.Gender</span>
                    }
                }
            </div>
            <div class="data Role">
                <span class="data-title">Role</span>
                @{
                    foreach (var item in Model)
                    {
                        <span style="margin-top: 50px;margin-bottom:23px;" class="data-list d-flex">
                            @foreach (var item2 in item.roles)
                            {
                                <span>@item2</span>
                            }
                        </span>
                    }
                }
            </div>
            <div class="data action">
                <span class="data-title">Action</span>
                @{
                    foreach (var item in Model)
                    {
                        <span class="data-list d-flex" style="margin-top: 50px;margin-bottom: 13px;">
                            @foreach (var item2 in item.roles)
                            {
                                <a asp-controller="DashBoard" asp-action="ChangeRole" asp-route-id="@item.User.Id">
                                    <button type="button" class="btn btn-success">Change Role</button>
                                </a>
                            }
                        </span>
                    }
                }
            </div>
        </div>
    </div>
</div>
