@{
	Layout = "_CurvaStoreLayout";
}
@model Editprofile
<div class="cover_header_page">
    <div class="overlay-cover-page d-flex align-items-end">
        <div class="container de">
            <div class="row">
                <div class="col-12">
                    <div class="bg-transparent iq-card ">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center bg-transparent">
                                    <ol class="breadcrumb bg-transparent mb-0 mt-1">
                                        <li class="breadcrumb-item text-initial">
                                            <a asp-controller="Home" asp-action="Index" class="router-link-active home" target="_self">
                                                <i class="fas fa-home"></i>Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item text-white">
                                            <a asp-controller="Home" asp-action="Profile" class="router-link-active blogs" target="_self"> Profile </a>
                                        </li>
                                        <li class="breadcrumb-item text-white active">
                                            <span aria-current="location"> Edit Profile </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row p-4">
            <div class="d-flex justify-content-start col-lg-4 col-12">
                <span class="fs-6">
                    <span>
                        <span class="title-colored-part">Profile</span>
                    </span>
                    <span>
                        <span class="title-mode-part">Info</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-profile">
                    <li><a asp-controller="Home" asp-action="Profile" class=""><i class="far fa-user"></i>  Profile Info</a></li>
                    <li><a asp-controller="Home" asp-action="ViewWishList"><i class="far fa-heart"></i> Wishlist</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <form method="post" style="background-color: #e5e6ea;" class="p-5 mb-5" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 pt-3">
                            <div class="row">
                                <div class="mb-4 col-lg-12">
                                    <input autocomplete="off" value="@Model.FullName" asp-for="@Model.FullName" type="text"  placeholder="Full Name" class="form-control">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-lg-12">
                                    <input autocomplete="off" type="text" value="@Model.Email" asp-for="@Model.Email" placeholder="Email Address" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-lg-12">
                                    <input autocomplete="off" value="@Model.PhoneNumber" type="text" asp-for="@Model.PhoneNumber" placeholder="Mobile Number" class="form-control">
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                </div>
                                <div class="mb-4 col-lg-6">
                                    <input autocomplete="off" type="date" value="@Model.date.Value" asp-for="@Model.date" placeholder="Date Of Birth" class="form-control">
                                    <span class="text-danger" asp-validation-for="date"></span>
                                </div>
                                <div class="mb-4 col-lg-6">
                                    <select style="width: 100% !important;height: 45px !important;font-size: 16px !important;border: 1px solid #ccc !important;border-radius: 10px !important;padding: 5px 10px !important;background-color: transparent !important;" asp-for="@Model.gender">
                                        @if (Model.gender.ToLower()== "male")
                                        {
                                            <option value="male" selected>Male</option>
                                            <option value="female">Female</option>
                                        }
                                        else{
                                            <option selected value="female">Female</option>
                                            <option value="male">Male</option>
                                        }
                                    </select>
                                    <span class="text-danger" asp-validation-for="gender"></span>
                                </div>
                                <div class="mb-3 col-lg-12">
                                    <div class="w-100 d-flex align-items-center">
                                        <label class="form-label col-lg-3" style="color: #939393;" asp-for="UserImage">User Image</label>
                                        <div class="col-lg-9">
                                            <input class="form-control pt-0" asp-for="UserImage" type="file" accept="image/*" id="formFile">
                                        </div>
                                    </div>
                                    <span asp-validation-for="UserImage" class="text-danger"></span>
                                </div>
                                <div class="text-center col-lg-12">
                                    <a asp-controller="Home" asp-action="Profile"><button type="button" class="btn grey-btn small-rounded-btn mx-3 btn-secondary">Discard</button></a>
                                    <button type="submit" style="background-color: #d1ab5f; color: #000000;" class="btn curva-granola-btn small-rounded-btn">
                                        <span class="fs-6">Save Changes</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>