@{
	Layout = "_CurvaStoreLayout";
}
@model ProductsBlogs
<main>
    <div class="main-contenr">
        <div class="overlay">
            <div class="main-section-content">
                <h2 class="main-section-title">Get your team's player edition jersey for the 2022/23 season now!</h2>
                <button class="main-section-b main-section-b1">Learn More</button>
                <button class="main-section-b main-section-b2">Buy Now</button>
            </div>
        </div>
    </div>
</main>
<section class="categ-sec">
    <div class="pt-2 pb-2 container categ-cont">
        <div class="row d-flex text-center mb-3 p-3 pt-4">
            <span>
                <span>
                    <span class="title-colored-part">Explore </span>
                </span>
                <span>
                    <span class="title-mode-part">Categories</span>
                </span>
            </span>
        </div>
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-2 col-6 categ-item">
                <a asp-controller="Home" asp-action="Products" asp-route-id="1" class="category-a">
                    <div class="card category-card-container mb-2 cursor-pointer">
                        <!----><!---->
                        <div class="card-body categ-body">
                            <!----><!---->
                            <div class="card-body category-body p-0">
                                <!----><!---->
                                <div class="frame position-relative d-flex justify-content-center align-items-center mb-0 w-100">
                                    <img src="~/images/Vector.2025f997.svg" class="shape-path ">
                                    <img src="~/images/download (6).png" class="front-image">
                                </div>
                                <p class="text-center font-size-18 font-weight-400">Football Wear</p>
                            </div>
                        </div><!----><!---->
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6 categ-item">
                <a asp-controller="Home" asp-action="Products" asp-route-id="6" class="category-a">
                    <div class="card category-card-container mb-2 cursor-pointer">
                        <!----><!---->
                        <div class="card-body">
                            <!----><!---->
                            <div class="card-body category-body p-0">
                                <!----><!---->
                                <div class="frame position-relative d-flex justify-content-center align-items-center mb-0 w-100">
                                    <img src="~/images/Vector.2025f997.svg" class="shape-path">
                                    <img src="~/images/download.png" class="front-image">
                                </div>
                                <p class="text-center font-size-18 font-weight-400">Sports Shoes</p>
                            </div>
                        </div><!----><!---->
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6 categ-item">
                <a asp-controller="Home" asp-action="Products" asp-route-id="2" class="category-a">
                    <div class="card category-card-container mb-2 cursor-pointer">
                        <!----><!---->
                        <div class="card-body">
                            <!----><!---->
                            <div class="card-body category-body p-0">
                                <!----><!---->
                                <div class="frame position-relative d-flex justify-content-center align-items-center mb-0 w-100">
                                    <img src="~/images/Vector.2025f997.svg" class="shape-path">
                                    <img src="~/images/football.766d6189.png" class="front-image">
                                </div>
                                <p class="text-center font-size-18 font-weight-400">Football</p>
                            </div>
                        </div><!----><!---->
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6 categ-item">
                <a asp-controller="Home" asp-action="Products" asp-route-id="4" class="category-a">
                    <div class="card category-card-container mb-2 cursor-pointer">
                        <!----><!---->
                        <div class="card-body">
                            <!----><!---->
                            <div class="card-body category-body p-0">
                                <!----><!---->
                                <div class="frame position-relative d-flex justify-content-center align-items-center mb-0 w-100">
                                    <img src="~/images/Vector.2025f997.svg" class="shape-path">
                                    <img src="~/images/download (1).png" class="front-image">
                                </div>
                                <p class="text-center font-size-18 font-weight-400">Clothing</p>
                            </div>
                        </div><!----><!---->
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6 categ-item">
                <a asp-controller="Home" asp-action="Products" asp-route-id="3" class="category-a">
                    <div class="card category-card-container mb-2 cursor-pointer">
                        <!----><!---->
                        <div class="card-body">
                            <!----><!---->
                            <div class="card-body category-body p-0">
                                <!----><!---->
                                <div class="frame position-relative d-flex justify-content-center align-items-center mb-0 w-100">
                                    <img src="~/images/Vector.2025f997.svg" class="shape-path">
                                    <img src="~/images/download (2).png" class="front-image">
                                </div>
                                <p class="text-center font-size-18 font-weight-400">Sports Bags</p>
                            </div>
                        </div><!----><!---->
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6 categ-item">
                <a asp-controller="Home" asp-action="Products" asp-route-id="5" class="category-a">
                    <div class="card category-card-container mb-2 cursor-pointer">
                        <!----><!---->
                        <div class="card-body">
                            <!----><!---->
                            <div class="card-body category-body p-0">
                                <!----><!---->
                                <div class="frame position-relative d-flex justify-content-center align-items-center mb-0 w-100">
                                    <img src="~/images/Vector.2025f997.svg" class="shape-path">
                                    <img src="~/images/accessories.b2cca71d.png" class="front-image">
                                </div>
                                <p class="text-center font-size-18 font-weight-400">Accessories</p>
                            </div>
                        </div><!----><!---->
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="Product-section container-fluid">
        <div class="pt-4 pb-4 Product-content">
            <div class="header-product d-flex justify-content-between mb-4 p-3">
                <span>
                    <span class="title-colored-part s1">New</span>
                    <span class="title-colored-part">Products</span>
                </span>
                <a asp-controller="Home" asp-action="Products" asp-route-id="0" class="">
                    <button type="button" class="btn">View All</button>
                </a>
            </div>
            <div class="row justify-content-center">
                @{
                    foreach(var item in Model.products)
                    {
                        if (item.InStock)
                        {
                            if (item.OldPrice != 0)
                            {
                                <a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@item.Id" class="card m-auto mb-5" style="width:300px;display:block">
                                    <div style="padding: 0 30px; height:300px"><img class="card-img-top" src="~/images/@item.Img" alt="Card image" style="height:100%"></div>
                                    <div class="card-body">
                                        <p class="product-details-p" style="white-space: nowrap;overflow: hidden;">@item.Name</p>
                                        <p class="d-inline-block me-5 mb-0"><span class="price">@item.price</span><span class="e">EGP</span></p>
                                        <p class="d-inline-block mb-0 "><span class="text-decoration-line-through text-secondary">@item.OldPrice</span><span class="e text-decoration-line-through text-secondary">EGP</span></p>
                                        <i class="fas fa-shopping-cart carti"></i>
                                        <i class="fas fa-arrow-right arrow"></i>

                                    </div>
                                    <div class="tags"><span class="tag offer-tag"> offer </span><!----></div>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@item.Id" class="card m-auto mb-5" style="width:300px;display:block">
                                    <div style="padding: 0 30px; height:300px"><img class="card-img-top" src="~/images/@item.Img" alt="Card image" style="height:100%"></div>
                                    <div class="card-body">
                                        <p class="product-details-p" style="white-space: nowrap;overflow: hidden;">@item.Name</p>
                                        <p class="d-inline-block me-5 mb-0"><span class="price">@item.price</span><span class="e">EGP</span></p>
                                        <i class="fas fa-shopping-cart carti"></i>
                                        <i class="fas fa-arrow-right arrow"></i>
                                    </div>
                                </a>
                            }
                        }
                        
                    }
                }
            </div>

        </div>
    </div>
</section>
<section class=" company">
    <div class="py-5 text-center container">
        <div class="row d-flex justify-content-center mb-5 p-3">
            <span class="font-size-16">
                <span>
                    <span class="title-colored-part">Top </span>
                </span>
                <span>
                    <span>
                        <span class="title-mode-part">Brands</span>
                    </span>
                </span>
        </div>
        <div class="row mb-5 d-flex justify-content-center row-cols-3">
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/25058714.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Adidas</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/8635328.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Nike</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/1831959.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Curva</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/35638912.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Puma</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/53600416.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Umbro</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/53997915.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Under Armour</h4>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center p-3">
            <button type="button"  class="btn curva-transparent-btn btn-secondary">More Statistics</button>
        </div>
    </div>
</section>
<section class="clups">
    <div class="py-5 text-center container">
        <div class="row d-flex justify-content-center mb-5 p-3">
            <span class="font-size-16">
                <span>
                    <span class="title-colored-part">Top </span>
                </span>
                <span>
                    <span>
                        <span class="title-mode-part">Clubs</span>
                    </span>
                </span>
        </div>
        <div class="row mb-5 d-flex justify-content-center row-cols-3">
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/3804825.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Al Ahly</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/30270729.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Real Madrid</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/823959FC Barcelona.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Barcelona</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/42876626.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Zamalek</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/30083645.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Argentina</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3 col-sm-3 col-lg-2">
                <div class="mb-4">
                    <img src="~/images/60384133.png" class="brand-img mb-1">
                    <h4 class="text-secondary">Arsenal</h4>
                </div>
            </div>

        </div>
        <div class=" d-flex justify-content-center p-3">
            <button type="button" class="btn curva-transparent-btn btn-secondary"> More Statistics</button>
        </div>
    </div>
</section>
<section>
    <div class="Blogs-section">
        <div class=" pt-4 Blogs-content">
            <div class="header-Blogs  mb-5 p-3 d-flex justify-content-between">
                <span>
                    <span class="title-colored-part s1">Our</span>
                    <span class="">Blogs</span>
                </span>

                <a asp-controller="Home" asp-action="Blogs"class="">
                    <button type="button" class="btn">View All</button>
                </a>
            </div>
            <div class="row justify-content-center">
                @{
                    foreach(var item in Model.blogs)
                    {
                         <a style="display:block;width:fit-content"  asp-controller="Home" asp-action="SingleBlog" asp-route-id="@item.Id">
                            <div class="card m-auto mb-5" style="width:450px">
                                <div><img style="height:270px" class="card-img-top" src="~/images/@item.Img" alt="Card image"></div>
                                <div class="card-body">
                                    <p class="blog-date text-left p1"> <span>Posted on  </span><span> @item.dateTime.Day.ToString()-</span><span>@item.dateTime.Month.ToString()-</span><span>@item.dateTime.Year.ToString()  </span><span>  @item.dateTime.TimeOfDay.Hours.ToString():@item.dateTime.TimeOfDay.Minutes.ToString()</span></p>
                                    <p class="blog-title text-right p2">@item.Tittle</p>
                                </div>
                            </div>
                         </a>
                    }
                }
            </div>
        </div>
    </div>
</section>