@{
    Layout = "_CurvaStoreLayout";
}
@model ProductsAndCategories
<div class="cover_header_page">
    <div class="overlay-cover-page d-flex align-items-end">
        <div class="container de">
            <div class="row">
                <div class="col-12">
                    <div class="bg-transparent iq-card ">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center bg-transparent">
                                    <ol class="breadcrumb bg-transparent mb-0 mt-1">
                                        <li class="breadcrumb-item text-initial">
                                            <a asp-controller="Home" asp-action="index" class="router-link-active home" target="_self">
                                                <i class="fas fa-home"></i>Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item text-white active">
                                            <span aria-current="location"> Categories </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="mb-5 pt-5 px-3 d-flex justify-content-between">
            <span>
                <span class="title-colored-part s1">Category </span>
                <span class="title-mode-part">Products</span>
            </span>
            <div class="dropdown d-flex">
                <button type="button" class="btn-sort btn dropdown-toggle btn-secondary" data-bs-toggle="dropdown">
                    <span>
                        <i class="fas fa-sort-alpha-down"></i>
                        Sort
                    </span>
                </button>
                <ul class="dropdown-menu curva-dropdown">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-id="@Model.id" asp-route-sortId="1"> Price Accending</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-id="@Model.id" asp-route-sortId="2"> Price Deccending</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-id="@Model.id" asp-route-sortId="3"> A → Z</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-id="@Model.id" asp-route-sortId="4"> Z → A</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-id="@Model.id" asp-route-sortId="5"> Newest First</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-id="@Model.id" asp-route-sortId="6"> Oldest First</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="all-categ ">
                    <div class="categ-content p-3">
                        <div class=" row list-row mb-5">
                            <div class="list-col col">
                                <div class="list-group">
                                    @{
                                        if (Model.id == 0)
                                        {
                                            <a asp-action="Products" asp-controller="Home" asp-route-id="0" style="display:block"><h5 style="font-weight: normal; cursor: pointer;border: none;" class="py-3 header-cat list-group-item active-all"><i class="text-warning fas fa-bars"></i> All Categories </h5></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Products" asp-controller="Home" asp-route-id="0" style="display:block"><h5 style="font-weight: normal; cursor: pointer;border: none;" class="py-3 header-cat list-group-item"><i class="text-warning fas fa-bars"></i> All Categories </h5></a>
                                        }
                                    }
                                    @{
                                        foreach (var item in Model.categories)
                                        {
                                            if (Model.id == item.id)
                                            {
                                                                <a  asp-controller="Home" asp-action="Products" asp-route-id="@item.id" style="display:block">
                                                                    <div type="button" class="list-group-item category-list category-list-main cursor-pointer mt-2 fs-5 active-all">@item.Name</div>
                                                                </a>
                                                                
                                            }
                                            else
                                            {
                                                                <a asp-controller="Home" asp-action="Products" asp-route-id="@item.id" style="display:block">
                                                                    <div type="button" class="list-group-item category-list category-list-main cursor-pointer mt-2 fs-5">@item.Name</div>
                                                                </a>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="fs-5 px-2 mb-5">PRICE RANGE</p>
                            <form asp-controller="Home" asp-action="FilterPrice" method="post">
                                <label asp-for="MinPrice" class="form-label">Min Price</label>
                                <input asp-for="MinPrice" class="form-control w-60 min-price"type="number" min="0"  placeholder="" >
                                <label asp-for="MaxPrice" class="form-label">Max Price</label>
                                <input asp-for="MaxPrice" class="form-control mb-4 mt-2 w-60 max-price" type="number" min="0" placeholder="Max Price" >
                                <input asp-for="id" value="@Model.id" class="d-none" />
                                <span class="text-danger ss d-none">you Must Enter the Price And the min price must be less than max</span>
                                <div class="text-center"><button type="submit" class="btn curva-granola-btn p-0 pr-4 pl-4">Apply</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.products.Count() != 0)
            {
                <div class="col-lg-9 col-12">
                    <div class="row mb-5">
                        @{
                            foreach (var item in Model.products)
                            {
                                if (item.OldPrice != 0)
                                {
                                    <div class="col-md-6 col-12 col-lg-4">
                                        <a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@item.Id" class="prod">
                                            <div class="card product-card-container mb-5 cursor-pointer">
                                                <div class="card-body py-0">
                                                    <div class="img-container d-flex justify-content-center align-content-center">
                                                        <img style="width: 100%;" src="~/images/@item.Img">
                                                    </div>
                                                    <div class="card-body p-3">
                                                        <h5 style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis; font-weight: normal;">@item.Name</h5>
                                                        <div class="d-flex justify-content-between align-items-start">
                                                            <p class="font-size-18">
                                                                <span class="font-weight-bold text-warning">@item.price</span><span class="font-size-12"> EGP</span>
                                                            </p>
                                                            <p class="d-inline-block mb-0 "><span class="text-decoration-line-through text-secondary">@item.OldPrice</span><span class="e text-decoration-line-through text-secondary">EGP</span></p>
                                                            <span class="d-inline-flex product-card-icons-container flex-sm-row flex-column-reverse">
                                                                <i class="fas fa-shopping-cart  cars font-size-30"></i>
                                                                <i class="fas fa-arrow-right card-arrow-icon font-size-30"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="tags"><span class="tag offer-tag"> offer </span><!----></div>

                                                </div>
                                                @if (Model.wishLists.FirstOrDefault(m => m.ProductId == item.Id) != null)
                                                {
                                                    <button class="fav-btn"><i class=" fs-6 fas fa-heart fav-color"></i></button>
                                                }
                                            </div>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6 col-12 col-lg-4">
                                                        <a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@item.Id" class="prod">
                                                            <div class="card product-card-container mb-5 cursor-pointer">
                                                                <div class="card-body py-0">
                                                                    <div class="img-container d-flex justify-content-center align-content-center">
                                                                        <img style="width: 100%;" src="~/images/@item.Img">
                                                                    </div>
                                                                    <div class="card-body p-3">
                                                                        <h5 style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis; font-weight: normal;">@item.Name</h5>
                                                                        <div class="d-flex justify-content-between align-items-start">
                                                                            <p class="font-size-18">
                                                                                <span class="font-weight-bold text-warning">@item.price </span><span class="font-size-12"> EGP</span>
                                                                            </p>
                                                                            <span class="d-inline-flex product-card-icons-container flex-sm-row flex-column-reverse">
                                                                                <i class="fas fa-shopping-cart  cars font-size-30"></i>
                                                                                <i class="fas fa-arrow-right card-arrow-icon font-size-30"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @if (Model.wishLists.FirstOrDefault(m => m.ProductId == item.Id) != null)
                                                                {
                                                                    <button class="fav-btn"><i class=" fs-6 fas fa-heart fav-color"></i></button>
                                                                }
                                                            </div>
                                                        </a>
                                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-9 col-12" style="text-align:center;">
                    <p style="font-size:20px;font-weight:bold">No Products Found</p>
                </div>
            }
        </div>
        @if (Model.products.Count() != 0)
        {
            <div class="row mb-5">
                <div class="d-flex justify-content-center col">

                   <ul class="pagination curva-pagination b-pagination">
                        @{
                            if (Model.currPage == 1)
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">«</span>
                                </li>
                                <li class="page-item disabled ">
                                    <span class="page-link">‹</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a  asp-controller="Home" asp-action="Products" asp-route-currPage="1" asp-route-id="@Model.id" asp-route-sortId="@Model.sortId" class="page-link">«</a>
                                </li>
                                <li class="page-item">
                                    <a asp-controller="Home" asp-action="Products" asp-route-currPage="@Model.currPage-1" asp-route-id="@Model.id" asp-route-sortId="@Model.sortId" class="page-link">‹</a>
                                </li>
                            }
                            if (Model.currPage >= 1 && Model.currPage <= 3)
                            {
                                if (Model.TotalPages <= 4)
                                {
                                    for (int i = 1; i <= Model.TotalPages; i++)
                                    {
                                        if (i == Model.currPage)
                                        {
                                            <li class="page-item active ">
                                                <a class="page-link">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                <a asp-controller="Home" asp-action="Products" asp-route-currPage="@i" asp-route-id="@Model.id" asp-route-sortId="@Model.sortId" class="page-link">@i</a>
                                            </li>
                                        }
                                    }
                                }
                                else
                                {
                                    for (int i = 1; i <= Model.TotalPages; i++)
                                    {
                                        if (i == Model.currPage)
                                        {
                                            <li class="page-item active ">
                                                <a  disabled class="page-link">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                <a asp-controller="Home" asp-action="Products" asp-route-currPage="@i" asp-route-id="@Model.id" asp-route-sortId="@Model.sortId" class="page-link">@i</a>
                                            </li>
                                        }
                                    }
                                    <li class="page-item disabled bv-d-xs-down-none ">
                                        <span class="page-link">…</span>
                                    </li>
                                }
                            }
                            else if (Model.currPage > 3 && Model.currPage <= (Model.TotalPages - 3))
                            {
                                <li class="page-item disabled bv-d-xs-down-none ">
                                    <span class="page-link">…</span>
                                </li>
                                for (int i = Model.currPage - 1; i <= Model.currPage + 1; i++)
                                {
                                    if (i == Model.currPage)
                                    {
                                        <li class="page-item active ">
                                            <a  disabled class="page-link">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item ">
                                            <a asp-controller="Home" asp-action="Products" asp-route-currPage="@i" asp-route-id="@Model.id" asp-route-sortId="@Model.sortId" class="page-link">@i</a>
                                        </li>
                                    }
                                }
                                <li class="page-item disabled bv-d-xs-down-none ">
                                    <span class="page-link">…</span>
                                </li>
                            }
                            else
                            {
                                for (int i = Model.TotalPages - 3; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item disabled bv-d-xs-down-none ">
                                        <span class="page-link">…</span>
                                    </li>
                                    if (i == Model.currPage)
                                    {
                                        <li class="page-item active ">
                                            <a class="page-link">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item ">
                                            <a asp-controller="Home" asp-action="Products" asp-route-currPage="@i" asp-route-id="@Model.id" asp-route-sortId="@Model.sortId" class="page-link">@i</a>
                                        </li>
                                    }
                                }
                            }
                            if (Model.currPage == Model.TotalPages || Model.TotalPages == 1)
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">›</span>
                                </li>
                                <li class="page-item disabled ">
                                    <span class="page-link">»</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item ">
                                    <a asp-controller="Home" asp-action="Products" asp-route-currPage="@(Model.currPage+1)" asp-route-id="@Model.id" asp-route-sortId="@Model.sortId" class="page-link">›</a>
                                </li>
                                <li class="page-item ">
                                    <a asp-controller="Home" asp-action="Products" asp-route-currPage="@Model.TotalPages" asp-route-id="@Model.id" asp-route-sortId="@Model.sortId" class="page-link">»</a>
                                </li>
                            }
                        }
                   </ul>
                </div>
            </div>
        }
    </div>
</section>

<script>
    var btn = document.querySelector(".curva-granola-btn");
    var minp = document.querySelector(".min-price");
    var maxp = document.querySelector(".max-price");
    var ss = document.querySelector(".ss");
    btn.addEventListener("click",function(){
        if (+(minp.innerHTML) > +(maxp.innerHTML) || minp.innerHTML == "" || maxp.innerHTML == "") {
            if (ss.classList.contains("d-none"){
                ss.classList.remove("d-none")
                ss.classList.add("d-block");
            }
        }
        else {
            if (ss.classList.contains("d-block"){
                ss.classList.remove("d-block")
                ss.classList.add("d-none");
            }
        }
    })
</script>